.body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.animatedBTN {
  position: relative;
  background: #ffffff;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 1rem 3rem;
  transition: 0.2s;
  border-radius: 1.5rem; /* Add border radius */
}

.animatedBTN:hover {
  letter-spacing: 0.2rem;
  padding: 1.1rem 3.1rem;
  background: var(--clr);
  color: var(--clr);
  /* box-shadow: 0 0 35px var(--clr); */
  animation: box 3s infinite;
}

.animatedBTN::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #ffffff;
}

.animatedBTN span {
  position: relative;
  z-index: 1;
}
.animatedBTN i {
  position: absolute;
  inset: 0;
  display: block;
}

.animatedBTN i::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 80%;
  top: -2px;
  border: 2px solid var(--clr);
  background: #ffffff;
  transition: 0.2s;
}

.animatedBTN:hover i::before {
  width: 15px;
  left: 20%;
  animation: move 3s infinite;
}

.animatedBTN i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 20%;
  bottom: -2px;
  border: 2px solid var(--clr);
  background: #ffffff;
  transition: 0.2s;
}

.animatedBTN:hover i::after {
  width: 15px;
  left: 80%;
  animation: move 3s infinite;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px var(--clr);
  }
  100% {
    box-shadow: #27272c;
  }
}
