.content {
    margin-top: 16px;
  }
  
  .home-content {
    display: flex;
    justify-content: center;
  }
  

  @media screen and (max-width: 490px) {
    .home-content > *:nth-child(1) {
      display: none;
    }
  }
  
  @media screen and (min-width: 491px) {
    .home-content > *:nth-child(2) {
      display: none;
    }
  }